<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576791697574-u6p1qp6mfh8tbucseednd8uffmu77de6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576791697574-u6p1qp6mfh8tbucseednd8uffmu77de6</string>
	<key>API_KEY</key>
	<string>AIzaSyD3vgx-Qhhr_B63hXqpETKR5sjFFGQtUII</string>
	<key>GCM_SENDER_ID</key>
	<string>576791697574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ackdevelepment.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-1845d</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-1845d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576791697574:ios:4b705f2dbb76616f287c67</string>
</dict>
</plist>